/opt/kijanikiosk/{{ node_role_identifier }}/*.log {
    {{ logrotate_frequency }}
    rotate {{ logrotate_retention_count }}
    missingok
    notifempty
    compress
    delaycompress
    sharedscripts
    postrotate
        /usr/bin/systemctl reload kijanikiosk-{{ node_role_identifier }}.service > /dev/null 2>&1 || true
    endscript
}
